/* Your application styles go here */
.Vmenu{
	background-color: #000;
}
.Vlogo{
	width: 100%;
}
.Vlist{
	border-color: #cca352;
	background-color: #030303;
	color: #FFF;
	position: relative;
	z-index: 2;
	display: block;
	margin: -3px;
	padding: 16px;
	border-width: 1px;
	border-style: solid;
	font-size: 16px;
}
.Vicon{
	font-size:2.5em;
}
.Vitem-font{
	  font-size: 35px;
}
.Vslide{
	height:300px;
}
.VitemList{
	margin-top:10%;
}
.Vhome-item{
	width: 300px;
	display: inline-block;
	height: 150px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.Vphoto{
	width:100%;
	position: relative;
}
.Vitem-card {
  position: absolute;
  z-index: -1;
  margin-top: 9px;
  width: 300px;
  margin-left: auto;
  background-color: #FFF;
}
.Vitem-name{
	margin-top: -20px;
	font-size: 19px;
	color: #084d4d;
}
.Vitem-description{
	margin-top: -7px;
}
.Vitem-button{
	margin-top: -20px;
}
.button.button-green.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #084d4d;
}
.VitemClicked{
	z-index: 3;
}
.Vproduct-title{
	position: relative;
	margin-top:10%;
	font-size: 50px;
	font-weight: 900;
}
.Vproduct-subtitle{
	position: relative;
	margin-top:10%;
	font-size: 25px;
	font-weight: 900;
	color:#034D56;
}
.Vproduct-shopTitle{
	position: relative;
	margin-top:3%;
	font-size: 23px;
	font-weight: 400;
}
.Vproduct-shopInfo{
	position: relative;
	margin-left:10%;
	font-size: 15px;
	font-weight: 400;
}
.Vproduct-eventTitle{
	position: relative;
	margin-top:3%;
	font-size: 23px;
	font-weight: 400;
}
.Vproduct-eventInfo{
	position: relative;
	margin-left:10%;
	font-size: 15px;
	font-weight: 400;
}
.Vproduct-description{
	position: relative;
	margin-top:5%;
}
.Vproduct-share{
	margin-top:5%;
	font-size: 23px;
	font-weight: 400;
}
a:link {
    color: #034D56;
}
