<ion-view title="Search" class="animated fadeInUp">
  <ion-content class="">
    
    <div class="Vblog card col-80 col-offset-10 row">
    	<div class=" col-20 Vblog-date-box">
    		<div class="list ">
    			<div class="vblog-date">
    				JUL<br>
    				31<br>
    				2014
    			</div>
    		</div>
    		
    	</div>
    	
    	<div class="Vblog-main col-80 ">
		    <div class="list card">



			    <div class="item item-image ">
			        <img src="http://3.bp.blogspot.com/-KTOHZ60UfcU/U9pzsmRGv8I/AAAAAAAAGz4/xtfLLTJQO0k/s1600/e-1140x760.jpg">
			    </div>

		<!-- 	<a class="item item-icon-left assertive" href="#">
			        <i class="icon ion-music-note"></i>
			        Start listening
			    </a> -->

				<div class="Vblog-author">Posted BY xxx</div>
				<div class="Vblog-title">Vibrant Combination of Colors and Nymh</div>
				<div class="Vblog-brief">
					<p>Lorem ipsum dolor sit amet, mei assum legere an, id dolorem verterem eum. Error feugait liberavisse in per, illum erant mea eu, usu case simul quodsi ea. Vim in senserit delicatissimi. Cu erat tibique corpora vix. Eam illud utroque referrentur ad, ex laudem blandit nam, no ius dico consectetuer. Te usu dicit doctus, amet impedit admodum per an.</p>
				</div>

		    </div>
    	</div>
    </div>

    <div class="Vblog card col-80 col-offset-10 row">
    	<div class=" col-20 Vblog-date-box">
    		<div class="list ">
    			<div class="vblog-date">
    				JUL<br>
    				31<br>
    				2014
    			</div>
    		</div>
    		
    	</div>
    	
    	<div class="Vblog-main col-80 ">
		    <div class="list card">



			    <div class="item item-image ">
			        <img src="http://3.bp.blogspot.com/-KTOHZ60UfcU/U9pzsmRGv8I/AAAAAAAAGz4/xtfLLTJQO0k/s1600/e-1140x760.jpg">
			    </div>

		<!-- 	<a class="item item-icon-left assertive" href="#">
			        <i class="icon ion-music-note"></i>
			        Start listening
			    </a> -->

				<div class="Vblog-author">Posted BY xxx</div>
				<div class="Vblog-title">Vibrant Combination of Colors and Nymh</div>
				<div class="Vblog-brief">
					<p>Lorem ipsum dolor sit amet, mei assum legere an, id dolorem verterem eum. Error feugait liberavisse in per, illum erant mea eu, usu case simul quodsi ea. Vim in senserit delicatissimi. Cu erat tibique corpora vix. Eam illud utroque referrentur ad, ex laudem blandit nam, no ius dico consectetuer. Te usu dicit doctus, amet impedit admodum per an.</p>
				</div>

		    </div>
    	</div>
    </div>
	
    <div class="Vblog card col-80 col-offset-10 row">
    	<div class=" col-20 Vblog-date-box">
    		<div class="list ">
    			<div class="vblog-date">
    				JUL<br>
    				31<br>
    				2014
    			</div>
    		</div>
    		
    	</div>
    	
    	<div class="Vblog-main col-80 ">
		    <div class="list card">



			    <div class="item item-image ">
			        <img src="http://3.bp.blogspot.com/-KTOHZ60UfcU/U9pzsmRGv8I/AAAAAAAAGz4/xtfLLTJQO0k/s1600/e-1140x760.jpg">
			    </div>

		<!-- 	<a class="item item-icon-left assertive" href="#">
			        <i class="icon ion-music-note"></i>
			        Start listening
			    </a> -->

				<div class="Vblog-author">Posted BY xxx</div>
				<div class="Vblog-title">Vibrant Combination of Colors and Nymh</div>
				<div class="Vblog-brief">
					<p>Lorem ipsum dolor sit amet, mei assum legere an, id dolorem verterem eum. Error feugait liberavisse in per, illum erant mea eu, usu case simul quodsi ea. Vim in senserit delicatissimi. Cu erat tibique corpora vix. Eam illud utroque referrentur ad, ex laudem blandit nam, no ius dico consectetuer. Te usu dicit doctus, amet impedit admodum per an.</p>
				</div>

		    </div>
    	</div>
    </div>

  </ion-content>
</ion-view>
