<ion-view title="Home">
 
  <ion-content class="">
   	
    <ion-slide-box ng-if="hc.showSlides" 
                   active-slide="myActiveSlide" 
                   does-continue="true"
                   auto-play="true"
                   show-pager="true">


   	  <ion-slide ng-repeat="(id,slide) in hc.slides">
	    <!-- <div class="Vslide blue" > -->
        <img class="Vslide-img" ng-src="{{slide.img}}" >
        <!-- </div> -->
   	  </ion-slide><!-- 
   	  <ion-slide>
   	    <div class="Vslide yellow"><h1>slide2</h1></div>
   	  </ion-slide>
   	  <ion-slide>
   	    <div class="Vslide pink"><h1>slide3</h1></div>
   	  </ion-slide> -->
        
   	</ion-slide-box>
        
        <div class="VitemList col-80 col-offset-10">    

            <div class="Vhome-item" 
                 ng-repeat="(id,item) in hc.products"
                 ng-init="clicked={'z-index':1000-id}">
                <img ng-style="{'z-index':1000-2*id+2}"
                     class="Vphoto" 
                     ng-src="{{item.home_img}}" 
                     alt="" 
                     ng-click="hc.showDesc(id)">
                
                <div ng-class="{slideOutUp:(hc.showId !== id)}"
                     ng-style="{'z-index':1000-2*id+1}"
                     class=" Vitem-card  animated slideInDown"
                     ng-show="hc.showId == id">
                   
                        <div class="row Vitem-name">
                          <div class="col col-67">{{item.name}}</div>
                          <!-- <div class="col">{{item.view}}</div> -->
                           <div class="col">153</div>
                        </div>
                        <div class="Vitem-description">
                          <div class="col">{{item.home_description}}</div>
                          
                        </div>
                        <div class=" Vitem-button">
                          <div class="col col-offset-25">
                              <div class="button button-clear button-green"
                                      ng-click="hc.showProView()">
                                Check out this product 
                              </div>
                          </div>
                          
                        </div>
                   
                </div>
            </div>
            
        </div>   
        <div class="button button-dark" 
                style=" margin-left: 45%;" 
                ng-click="hc.seeMore()">
              See More
            </div>   




  </ion-content>
</ion-view>

<ion-view title="Home" 
          class="animated slideInUp" 
          ng-class="{slideOutDown:!hc.showProduct}"
          ng-if="hc.proView">
    
    <div class="bar bar-header bar-dark">
        <i class="icon ion-ios7-arrow-back"></i> 
        <h1 class="title">Product</h1>
        <div class="buttons">
            <div class="button button-clear" ng-click="hc.closeProView()">
                Close
            </div>
        </div>
    </div>

    <ion-content class="col col-50 has-header" 
                 scroll="false" >
      


      <ion-slide-box delegate-handle="Slider" on-slide-changed="slideHasChanged($index)" show-pager="false" does-continue="true" slide-interval="4000">
        <ion-slide ng-repeat="slide in slideList">
          <div class="box blue" >
            <img  class="img" 
                  ng-src="{{slide.imgURL}}">

                  {{slide.id}}
          </div>
        </ion-slide>
      </ion-slide-box>
      <br>
      
      <ion-scroll scroller direction="x" class="nav-scroller" delegate-handle="Nav">
        
        <div  class="nav" 
              ng-repeat="nav in slideList"
              ng-click="navHasChanged({{nav.id}})"
              id="anchor{{nav.id}}" 
              >
            
            {{nav.id}}
            <img  class="nav-img" 
                  ng-class="{'active':isSelectedNav(nav.id)}"
                  ng-src="{{nav.imgURL}}">
            
        </div>
      </ion-scroll> 


















    </ion-content>
    <ion-content class="col col-50 col-offset-50 has-header">
        <div class="Vproduct-title">Product Name</div>
        <div class="Vproduct-subtitle">Me and 125 others wanna try this</div>
        <div class="Vproduct-shopTitle">Ekstor(store)</div>
        <div class="Vproduct-shopInfo">
            25 Kempsell cres. Toronto, ON, M2J 2Z6<br>
            Open Mon-Fri 9am - 10pm<br>
            <a href="websit">Website</a>
        </div>
        <div class="Vproduct-eventTitle">TAVES Ekstor Show(event)</div>
        <div class="Vproduct-eventInfo">
            Ryerson DMZ, 10Dundas St, E, M1Y 7E6<br>
            Friday May 8th, 6:30pm - 9:30pm<br>
            <a href="resvp">RSVP here</a>
        </div>
        <div class="Vproduct-description">
            <p>n marketing, a product is anything that can be offered to a market that might satisfy a want or need.[1] In retailing, products are called merchandise. In manufacturing, products are bought as raw materials and sold as finished goods. Commodities are usually raw materials such as metals and agricultural products, but a commodity can also be anything widely available in the open market. In project management, products are the formal definition of the project deliverables that make up or contribute to delivering the objectives of the project. In insurance, the policies are considered products offered for sale by the insurance company that created the contract.
            In economics and commerce, products belong to a broader category of goods. The economic meaning of product was first used by political economist Adam Smith.
            A related concept is that of a subproduct, a secondary but useful result of a production process.
            Dangerous products, particularly physical ones, that cause injuries to consumers or bystanders may be subject to product liability.</p>
        </div>
        <div class="Vproduct-share">Share</div>
    </ion-content>
</ion-view>
