<ion-view title="Product">
 
    <ion-content class="col col-50" scroll="false">
            <ion-slide-box active-slide="myActiveSlide" auto-play="true" does-continue="true" show-pager="true">


              <ion-slide>
            <div class="Vslide blue" ><h1 >slide1</div>
              </ion-slide>
              <ion-slide>
                <div class="Vslide yellow"><h1>slide2</h1></div>
              </ion-slide>
              <ion-slide>
                <div class="Vslide pink"><h1>slide3</h1></div>
              </ion-slide>
    </ion-content>
    <ion-content class="col col-50 col-offset-50">
       test
    </ion-content>
</ion-view>
