<ion-view title="Blogs" class="animated fadeInUp">
  <ion-content class="has-header">
    
    <div class="Vblog card col-80 col-offset-10 row">
    	<div class=" col-20 Vblog-date-box">
    		<div class="list ">
    			<div class="vblog-date">
    				JUL<br>
    				31<br>
    				2014
    			</div>
    		</div>
    		
    	</div>
    	
    	<div class="Vblog-main col-80 "ng-click="bc.setShowBlog()">
		    <!-- <div class="list card" ng-click="bc.setShowBlog()"> -->



			    <div class="item item-image ">
			        <img class="Vblog-img" src="http://3.bp.blogspot.com/-KTOHZ60UfcU/U9pzsmRGv8I/AAAAAAAAGz4/xtfLLTJQO0k/s1600/e-1140x760.jpg">
			    </div>

		<!-- 	<a class="item item-icon-left assertive" href="#">
			        <i class="icon ion-music-note"></i>
			        Start listening
			    </a> -->

				<div class="Vblog-author">Posted BY xxx</div>
				<div class="Vblog-title">Vibrant Combination of Colors and Nymh</div>
				<div class="Vblog-brief">
					<p>Lorem ipsum dolor sit amet, mei assum legere an, id dolorem verterem eum. Error feugait liberavisse in per, illum erant mea eu, usu case simul quodsi ea. Vim in senserit delicatissimi. Cu erat tibique corpora vix. Eam illud utroque referrentur ad, ex laudem blandit nam, no ius dico consectetuer. Te usu dicit doctus, amet impedit admodum per an.</p>
				</div>

		    <!-- </div> -->
    	</div>
    </div>

    <div class="Vblog card col-80 col-offset-10 row">
    	<div class=" col-20 Vblog-date-box">
    		<div class="list ">
    			<div class="vblog-date">
    				JUL<br>
    				31<br>
    				2014
    			</div>
    		</div>
    		
    	</div>
    	
    	<div class="Vblog-main col-80 ">
		    <!-- <div class="list card"> -->



			    <div class="item item-image ">
			        <img class="Vblog-img" src="http://3.bp.blogspot.com/-KTOHZ60UfcU/U9pzsmRGv8I/AAAAAAAAGz4/xtfLLTJQO0k/s1600/e-1140x760.jpg">
			    </div>

		<!-- 	<a class="item item-icon-left assertive" href="#">
			        <i class="icon ion-music-note"></i>
			        Start listening
			    </a> -->

				<div class="Vblog-author">Posted BY xxx</div>
				<div class="Vblog-title">Vibrant Combination of Colors and Nymh</div>
				<div class="Vblog-brief">
					<p>Lorem ipsum dolor sit amet, mei assum legere an, id dolorem verterem eum. Error feugait liberavisse in per, illum erant mea eu, usu case simul quodsi ea. Vim in senserit delicatissimi. Cu erat tibique corpora vix. Eam illud utroque referrentur ad, ex laudem blandit nam, no ius dico consectetuer. Te usu dicit doctus, amet impedit admodum per an.</p>
				</div>

		    <!-- </div> -->
    	</div>
    </div>
	
    <div class="Vblog card col-80 col-offset-10 row">
    	<div class=" col-20 Vblog-date-box">
    		<div class="list ">
    			<div class="vblog-date">
    				JUL<br>
    				31<br>
    				2014
    			</div>
    		</div>
    		
    	</div>
    	
    	<div class="Vblog-main col-80 ">
		    <!-- <div class="list card"> -->



			    <div class="item item-image ">
			        <img class="Vblog-img" src="http://3.bp.blogspot.com/-KTOHZ60UfcU/U9pzsmRGv8I/AAAAAAAAGz4/xtfLLTJQO0k/s1600/e-1140x760.jpg">
			    </div>

		<!-- 	<a class="item item-icon-left assertive" href="#">
			        <i class="icon ion-music-note"></i>
			        Start listening
			    </a> -->

				<div class="Vblog-author">Posted BY xxx</div>
				<div class="Vblog-title">Vibrant Combination of Colors and Nymh</div>
				<div class="Vblog-brief">
					<p>Lorem ipsum dolor sit amet, mei assum legere an, id dolorem verterem eum. Error feugait liberavisse in per, illum erant mea eu, usu case simul quodsi ea. Vim in senserit delicatissimi. Cu erat tibique corpora vix. Eam illud utroque referrentur ad, ex laudem blandit nam, no ius dico consectetuer. Te usu dicit doctus, amet impedit admodum per an.</p>
				</div>

		    <!-- </div> -->
    	</div>
    </div>

  </ion-content>
</ion-view>
<ion-view title="Blog" ng-if="bc.showBlogView" 
                       class="animated fadeInUp"
                       ng-class="{fadeOutDown:!bc.showBlog}">
  <ion-content class="">
    
    <div class="Vblog card col-80 col-offset-10 row">
        <div class=" col-33 Vblog-img-box">
            <img class="Vblog-img" 
                src="http://vignette2.wikia.nocookie.net/marvelmovies/images/b/bb/Iron-man-pose2.jpg/revision/latest?cb=20110917050025">
            <div class="Vblog-detail-Ltitle">
                How to build Ironman
               
            </div> 
            <div class="Vblog-detail-Lauthor">
                By: David Zhang<br>

                Posted On May 3, 2015   
            </div>

        </div>
        
        <div class="Vblog-main col-67 ">
            <div class="list ">


                
                <div class="Vblog-detail-title">
                    How to build Ironman
                    <button class="button button-clear button-positive Vblog-close-button"
                            ng-click="bc.setCloseBlog()">
                      Close
                    </button>
                </div>
                <div class="Vblog-brief">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ali-
                        quam sollicitudin, turpis at vulputate vulputate, diam urna po-
                        suere risus, et consectetur nunc tortor vel sapien. Suspendisse 

                        ut tempor sapien. Praesent orci odio, accumsan nec nibus 

                        eget, varius ut urna. Sed ultricies nunc mi, eu tristique nisl hen-
                        drerit vitae. Pellentesque bibendum pretium viverra. Proin fau-
                        cibus, lorem eu ecitur hendrerit, nulla enim ultrices leo, eu 

                        tincidunt enim enim eu sem. Maecenas at nisl dictum, tempor 

                        enim bibendum, luctus metus. Praesent ante justo, tincidunt 

                        eu laoreet vel, rutrum dignissim orci.</-p>
                    <p>
                        Vestibulum tempus, metus a auctor aliquet, mi enim biben-
                        dum justo, ac rutrum justo sapien molestie nisi. Maecenas eget 

                        facilisis ex. Quisque a augue sit amet augue gravida consecte-
                        tur. Nunc sit amet laoreet urna. Sed risus libero, vehicula ut 

                        ligula tempus, ornare eleifend augue. Cras ullamcorper vulpu-
                        tate tristique. Vestibulum hendrerit ligula risus, sed consecte-
                        tur ligula viverra eu. Proin nibh justo, accumsan posuere enim 

                        accumsan, luctus congue nulla. Etiam nec malesuada velit.
                    </p>
                    <p>
                        Vestibulum tempus, metus a auctor aliquet, mi enim biben-
                        dum justo, ac rutrum justo sapien molestie nisi. Maecenas eget 

                        facilisis ex. Quisque a augue sit amet augue gravida consecte-
                        tur. Nunc sit amet laoreet urna. Sed risus libero, vehicula ut 

                        ligula tempus, ornare eleifend augue. Cras ullamcorper vulpu-
                        tate tristique. Vestibulum hendrerit ligula risus, sed consecte-
                        tur ligula viverra eu. Proin nibh justo, accumsan posuere enim 

                        accumsan, luctus congue nulla. Etiam nec malesuada velit.
                    </p>
                    <p>
                        Vestibulum tempus, metus a auctor aliquet, mi enim biben-
                        dum justo, ac rutrum justo sapien molestie nisi. Maecenas eget 

                        facilisis ex. Quisque a augue sit amet augue gravida consecte-
                        tur. Nunc sit amet laoreet urna. Sed risus libero, vehicula ut 

                        ligula tempus, ornare eleifend augue. Cras ullamcorper vulpu-
                        tate tristique. Vestibulum hendrerit ligula risus, sed consecte-
                        tur ligula viverra eu. Proin nibh justo, accumsan posuere enim 

                        accumsan, luctus congue nulla. Etiam nec malesuada velit.
                    </p>
                </div>

            </div>
        </div>
    </div>



  </ion-content>
</ion-view>
