<ion-view title="About Us">
  <ion-content class="has-header">

		</div>
		<div class="row">
		  	<div class="col col-75 animated fadeInUp" >
		  		<div class="card">
			  		<div class="item ">
			  		   <h1>The Why </h1>
			  		  </div>
			  		  <div class="item item-text-wrap Vabout-why">
			  		   One attendee at the Republican Jewish Coalition session, held at the Venetian Hotel in Las Vegas with owner Sheldon Adelson in attendance, transcribed large portions of Bush’s remarks. The former president, who rarely ever criticizes Obama in public, at first remarked that the idea of re-entering the political arena was something he didn’t want to do. He then proceeded to explain why Obama, in his view, was placing the U.S. in "retreat" around the world. He also said Obama was misreading Iran’s intentions while relaxing sanctions on Tehran too easily. 
			  		  </div>
			  	</div>
	  	  		<div class="card">
	  		  		<div class="item ">
	  		  		   <h1>The How</h1>
	  		  		  </div>
	  		  		  	<div class="item item-text-wrap Vabout-why">
		  		  		  	<img src="http://localhost:3000/img/Binoculars-01.png" alt="about" class="Vabout-img">
		  		  		   	<div class="Vabout-why-front">
		  		  		   		One attendee at the Republican Jewish Coalition session, held at the Venetian 
		  		  		   	</div>
	  		  		  	</div>
	  		  		  	<div class="item item-text-wrap Vabout-why2">
		  		  		  	<img src="http://localhost:3000/img/Explore-01.png" alt="about" class="Vabout-img">
		  		  		   	<div class="Vabout-why-front">
		  		  		   		One attendee at the Republican Jewish Coalition session, held at the Venetian 
		  		  		   	</div>
	  		  		  	</div>

						<div class="item item-text-wrap Vabout-why2">
		  		  		  	<img src="http://localhost:3000/img/Hands On-01.png" alt="about" class="Vabout-img">
		  		  		   	<div class="Vabout-why-front">
		  		  		   		One attendee at the Republican Jewish Coalition session, held at the Venetian 
		  		  		   	</div>
	  		  		  	</div>

						<div class="item item-text-wrap Vabout-why2">
		  		  		  	<img src="http://localhost:3000/img/happy shopper-01.png" alt="about" class="Vabout-img">
		  		  		   	<div class="Vabout-why-front">
		  		  		   		One attendee at the Republican Jewish Coalition session, held at the Venetian 
		  		  		   	</div>
	  		  		  	</div>



	  		  	</div>
	  	  		<div class="card">
	  		  		<div class="item ">
	  		  		   <h1>Frequently Asked Questions</h1>
	  		  		  </div>
	  		  		  <div class="item item-text-wrap Vabout-why">
	  		  		   One attendee at the Republican Jewish Coalition session, held at the Venetian Hotel in Las Vegas with owner Sheldon Adelson in attendance, transcribed large portions of Bush’s remarks. The former president, who rarely ever criticizes Obama in public, at first remarked that the idea of re-entering the political arena was something he didn’t want to do. He then proceeded to explain why Obama, in his view, was placing the U.S. in "retreat" around the world. He also said Obama was misreading Iran’s intentions while relaxing sanctions on Tehran too easily. 
	  		  		  </div>
	  		  	</div>
			</div>
		  	<div class="col col-25 animated fadeInRight">
  		  		  		<div class="card">
  		  			  			<div class="item Vabout-contact-title ">
  		  			  		    	Contact
  		  			  		 	</div>
  		  			  		  	<div class="item item-text-wrap Vabout-why Vabout-contact">
  		  			  		   		Email:<br>
  		  			  		   		Phone:<br>
  		  			  		   		Find Us On:<br>
  		  			  		   		
  		  			  		  	</div>
  		  			  	</div>
		  	</div>
		</div>

  </ion-content>
</ion-view>
